body {}

.carousel {
    padding-top: 40px;
}

.content {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
}

#sticky-footer {
    flex-shrink: none;
}